@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/idle-fingers.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
}
a:hover {
  color: #8f3ced;
  transition: 0.2s ease;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  @apply mx-auto xl:max-w-screen-xl w-screen px-8 text-left;
}

h1 {
  @apply mb-4 text-4xl font-extrabold leading-none tracking-tight;
}

h2 {
  @apply text-4xl font-extrabold mb-2;
}

p {
  @apply mb-3;
}

.highlighted {
  @apply text-blue-600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  min-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.fp-watermark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  filter: grayscale(100%);
  z-index: -2;
  background-size: cover;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div [lazy='loaded'] {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

#grid {
  filter: grayscale(10%);
  opacity: 0.08;
  background-size: unset;
  background-image: url(/grid.png);
}

.bg-img.wave {
  filter: grayscale(10%);
  opacity: 0.03;
  filter: invert(1);
  transform: rotate(180deg);
  background-size: unset;
  background-blend-mode: lighten;
}

.logo {
  filter: invert(1);
}

#fp-nav.fp-left {
  left: 40px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #555 !important;
}

body .gist .gist-file {
  border-color: #555 #555 #444;
}
body .gist .gist-data {
  border-color: #555;
}
body .gist .gist-meta {
  color: #ffffff;
  background: #373737;
}
body .gist .gist-meta a {
  color: #ffffff;
}
body .gist .gist-data .pl-s .pl-s1 {
  color: #a5c261;
}
